<<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UAcompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rappi</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>

    <header>
        <div class="menu container">
            <a href="#" img src="image/logo.svg" class="logo" alt=""></a>
            <input type="checkbox" id="menu">
            <label for="menu" img  src="image/menu.png" class="menu-icono" alt=""></label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">

            <div>
                <h1>Hamburguesas</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ipsa vero recusandae obcaecati
                    facilis dolorem unde ut at tenetur minima iste saepe exercitationem repellendus reprehenderit
                    sapiente nostrum, a ad praesentium?
                </p>
                <div class="botones">
                    <a href="#" class="btn-1">Comprar <img clas="icon" src="image/car.svg" alt=""></a>
                    <a href="#" class="btn-2">Informacion <img clas="icon" src="image/arrow.svg" alt=""></a>
                </div>
            </div>

            <div class="header-img">
                <img src="image/img-1.png" class="hamburge" alt="">
            </div>

        </div>


    </header>

    <main class="producto-menu">
        <div class="container">


            <div class="product">
                 <h2 class="title">Menu</h2>
                 <img class="hoja" src="image/hoja.png" alt="">
            </div>

            <div class="menu-nav">
                 <div id="pro1" class="tab active">hamburguesas</div>
                 <div id="pro2" class="tab ">Tacos</div>
                 <div id="pro3" class="tab ">Desayunos</div>
            </div>



            <div class="pro1 tab-content">
                <div class="box-container-1">

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-1">
                        <div class="img">
                            <img src="image/hambuerger.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="text-venter">
                    <div class="load-more" id="load-more-1">Carga Mas</div>
                </div>
            </div>

            <div class="pro2 tab-content">
                <div class="box-container-2">

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-2">
                        <div class="img">
                            <img src="image/hambuerger1.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="text-center">
                    <div class="load-more" id="load-more-2">Carga Mas</div>
                </div>
            </div>
            <div class="pro3 tab-content">
                <div class="box-container-3">

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>

                    <div class="box-3">
                        <div class="img">
                            <img src="image/hambuerger2.png" alt="">
                        </div>
                        <div class="content">
                            <h3>Burger Premiun</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, debitis temporibus!
                                Nobis quas error dolorem nisi hic architecto reiciendis, beatae alias repellendus
                                expedita, in accusantium adipisci pariatur assumenda! Saepe, vero.
                            </p>
                            <div class="icons">
                                <span class="price">$15.00</span>
                                <span class="buy"><img src="image/car.svg" alt=""></span>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="center">
                    <div class="load-more" id="load-more-1">Carga Mas</div>
                </div>
            </div>
            <br><br>

        </div>
    </main>

    <section class="info">
        <div class="info-content container">
            <div class="info-txt">
                <p>Los mejores platillos</p>
                <h2>Informacion</h2>

                <div class="info-sec">

                    <div class="info-1">
                        <img src="image/f1.svg" alt="">
                        <div class="info-2">
                            <h3>Lorem</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </p>
                        </div>
                    </div>

                    <div class="info-1">
                        <img src="image/f2.svg" alt="">
                        <div class="info-2">
                            <h3>Lorem</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </div>
                    </div>

                </div>

            </div>

            <div class="info-img">
                <img src="image/info.png" alt="">

            </div>

        </div>
    </section>

    <footer class="footer container">

        <img clas="logo-2" src="image/logo.svg" alt="">

        <div class="links">
            <h4>lorem</h4>
            <ul>
                <li><a href="#">Jorge</a></li>
                <li><a href="#">Eliot</a></li>
                <li><a href="#">Maria</a></li>
                <li><a href="#">Yamilet</a></li>
            </ul>
        </div>

        <div class="links">
            <h4>lorem</h4>
            <ul>
                <li><a href="#">Cesar</a></li>
                <li><a href="#">Juan</a></li>
                <li><a href="#">Cristian</a></li>
                <li><a href="#">Pablo</a></li>
            </ul>
        </div>

        <div class="links">
            <h4>lorem</h4>
            <ul>
                <li><a href="#">Oliverio</a></li>
                <li><a href="#">Jaimito</a></li>
                <li><a href="#">Pepito</a></li>
                <li><a href="#">Jose</a></li>
            </ul>
        </div>

        <div class="links">
            <h4>lorem</h4>
            <div class="socials">
                <a href="#">
                    <div class="social">
                        <img src="image/s1.svg" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social">
                        <img src="image/s2.svg" alt="">
                    </div>
                </a>
                <a href="#">
                    <div class="social">
                        <img src="image/s3.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
        <div>
            <app-tab></app-tab>
          </div>
          <div class="box-container-1">
            <div class="box-1" *ngFor="let box of boxes">{{ box }}</div>
          </div>
          <app-load-more></app-load-more>

    </footer>

    <script src="script.js"></script>
</body>

</html>l